<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
            href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
            rel="stylesheet"
        />
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    /* background-color: #0A0A0C; */
}

body{
  background-image: url(/images/istockphoto-1358862243-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
}




@media (max-width: 600px) {
    

}

</style>
<body>
  <%- include('partials/nav') %>

  
        
    
      

</body>
</html>


   
