<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    html, body{
      width: 100%;
      height: 100%;
    }
    form{
      width: 60%;
      /* height: 80%; */
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2vmin;
      margin: auto;
      padding: 2vw 0;
    }
    input{
      width: 100%;

    }
    .alertTxt{
      text-align: left;
      color: green;
      width: 100%;
    }
    .alertTxt2{
      text-align: left;
      color: green;
      width: 100%;
    }
  </style>
  <title>Expense</title>
</head>
<body>
  <%- include('partials/nav') %>
  <form action="/updatePassword/<%= userMail %>" method="post">
    <h1>Enter new password</h1>
   <% if(checkUser){ %>
      <p class="alertTxt2"><%= checkUser %></p>
   <% } else { %>
      <!-- <p class="alertTxt">otp has been send</p> -->
   <% } %>
    <input type="password" placeholder="enter password" name="password">
    <button class="submit">Update password</button>
    <!-- <span>back to login:- <a href="/login">Login</a></span> -->
  </form>
</body>
</html>